<div class="flex items-center justify-between mb-6">
  <div class="flex flex-col gap-1">
    <h1 class="font-custom text-3xl font-bold text-gray-600">Configure Integration</h1>
    <h3 class="text-gray-400">Configure Exigo integration for <%= @company.name %></h3>
  </div>
  <%= link_to "â† Back to Home", admin_home_index_path(dri: @dri), class: "px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-700 font-medium rounded-md" %>
</div>

<%= render "form", integration_setting: @integration_setting %>
