<div class="mb-6 border-b border-gray-200">
  <nav class="-mb-px flex space-x-8" aria-label="Tabs">
    <% tabs = [
      { name: "Price Types", path: price_types_path(dri: @dri), controller: "price_types" },
      { name: "Customers", path: customers_path(dri: @dri), controller: "customers" }
    ] %>

    <% tabs.each do |tab| %>
      <% is_active = controller_name == tab[:controller] %>
      <%= link_to tab[:name], tab[:path], class: [
        "whitespace-nowrap py-4 px-1 border-b-2 text-sm font-medium",
        (is_active ? "border-indigo-500 text-indigo-600" : "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300")
      ].join(" ") %>
    <% end %>
  </nav>
  
</div>
